{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				BONJOUR,
			</h3>
			<h3>
				Bienvenu sur la page principale de votre base des données<br>
			</h3>
			<ul>
				<li class="list-item">
					Si vous avez des questions, merci de contacter le support technique
				</li>
                <li class="list-item">
                    Plus des fonctionnalitées seront ajoutées!
                </li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
