{% extends "base.html" %}
{% block title %} Afficher les instruments sur la BD {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Instruments dans la basse des données
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Instrument
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_instrument }}
						</td>
						<td class="align-middle">
							{{ row.nom_instrument }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('instruments_update', id_instrument_btn_edit_html=row.id_instrument) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('instruments_delete', id_instrument_btn_delete_html=row.id_instrument) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune instrument sur la BD
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('instruments_ajouter') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
            <p class="text-right" class="align-middle">
                <a class="btn btn-primary" href="{{ url_for('instruments_ajouter') }}" role="button">Ajouter</a>
            </p>
		</div>
	</div>
</div>
{% endblock %}

